.board {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.marker {
  cursor: pointer;
  background-color: red;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.map {
  user-select: none;
  pointer-events: none;
  height: 100%;
  width: 100%;
  background-image: url('../../../../images/de_inferno.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -2;
}

.paths {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.marker.active {
  background-color: white;
}
