html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000;
}

.player-marker {
  cursor: pointer;
  background-color: red;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.main-container img {
  user-select: none;
}

.main-container svg {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}


.player-marker.active {
  background-color: white;
}
